<!DOCTYPE html>
<html lang="en-GB" data-platform="desktop" data-store-code="ROW" data-country-code="VN" data-gender="Flowers">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Flowers Shop</title>
    <meta name="description" content="Shop for the latest trends for Flowers beauty, activewear and more.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Root/Icon/logo180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Root/Icon/logo180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Root/Icon/logo180x180.png">
    <link rel="mask-icon" href="~/Content/Root/Icon/3.gif" color="#2d2d2d">
    <meta name="theme-color" content="#2d2d2d">

    <!--  -->
    <link href="~/Content/Root/CSS/client.sitechrome.deferred.ba21ed484bfad54c03f7.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Root/CSS/client.sitechrome.ba21ed484bfad54c03f7.css" rel="stylesheet">
    <link href="~/Content/Root/CSS/content-ui-library-4.4.5.css" rel="stylesheet">
    <link href="~/Content/Root/CSS/onetrust-style.css" rel="stylesheet">
    <link href="~/Content/Root/CSS/module.css" rel="stylesheet">
    <link href="~/Content/Root/CSS/GlobalBanner.css" rel="stylesheet">
    <link href="~/Content/Root/CSS/color.css" rel="stylesheet">
    <link href="~/Content/Root/CSS/MetaStyle.css" rel="stylesheet">

    <!-- js -->
    <!-- fonts -->
    <link href="~/Content/Root/Fonts/FTN45__W.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link href="~/Content/Root/Fonts/FTN75__W.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Toogle Menu -->
    <div id="chrome-header">
        <header>
            <a href="#chrome-app-container" class="_1ojZITY _19mnudD" data-testid="skip-to-content">Skip to main content</a>
            <div class="_1KhubH5" data-testid="unsupported-browser-message">
                <div class="_3I4FBSR">
                    <div class="_3vQ4Wmi">
                        <div class="_39134hq">your browser is not supported</div>
                        <div class="cjM-zS3">To use ASOS, we recommend using the latest versions of Chrome, Firefox, Safari or Edge</div>
                    </div>
                </div>
            </div>

            <div class="_1I2c49V headroom-wrapper">
                <div id="chrome-sticky-header" class="headroom headroom--unfixed">
                    <div class="_3wSz5e5">
                        <div class="_25fsaDO _3nG6wIM" data-testid="header">
                            <div class="d1hfo3-">
                                <button class="_31ffwSC" aria-label="Open navigation menu" data-testid="burger-menu-button"><span class="_259Wjcg _19mnudD _10775_1 -rhP1cz gBrrjX4 _2nHArcS"></span></button>
                                <a class="_24SZgSx _19mnudD" href="" data-testid="">
                                    <img alt="ASOS logo" src="~/Content/Root/Icon/3.gif" class="" style="height: 56px;border-radius: 50%;">
                                </a>
                                <div class="_36m0W_u">
                                    <div class="_1Pn6oie" data-testid="search-overlay-shadow" aria-hidden="true" role="presentation"></div>
                                    <form action="" class="_3j_6oNg" data-testid="search-form" method="get">
                                        <div class="h-7-BEq" data-testid="search-field">
                                            <span class="_2ARPr_X" aria-hidden="true"></span><label id="chrome-search-label" for="chrome-search" hidden="">Search for items and brands</label><input type="search" id="chrome-search" name="q" class="Cyuazsm _3nG6wIM _19mnudD" autocomplete="off" autocorrect="off" placeholder="Search for Bounquet and Occasion" data-testid="search-input" aria-autocomplete="list" aria-haspopup="listbox" aria-expanded="false" maxlength="150" value="">
                                            <button class="kH5PAAC" type="submit" disabled="" data-testid="search-button-inline">
                                                <svg viewBox="0 0 17 17" role="img" aria-labelledby="search-icon">
                                                    <title id="search-icon">Search</title>
                                                    <path fill="currentColor" fill-rule="nonzero" d="M7.65 15.3a7.65 7.65 0 1 1 5.997-2.9c-.01.012 3.183 3.297 3.183 3.297l-1.22 1.18s-3.144-3.283-3.154-3.275A7.618 7.618 0 0 1 7.65 15.3zm0-2a5.65 5.65 0 1 0 0-11.3 5.65 5.65 0 0 0 0 11.3z"></path>
                                                </svg>
                                            </button>
                                            <div class="NOZiOAo">
                                                <div class="_18a94Dv _1Cx3VIf" aria-live="polite"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <script src="~/Content/Root/JS/ToggleMenu.js"></script>
                            <ul class="_3fERfnD" data-testid="widgets">
                                <li class="_3Wo6fpk mD8oZFx notice">
                                    <div>
                                        <div>
                                            <div id="myAccountDropdown" class="_3iG3MJz">
                                                <button type="button" icon="_3iH_8F6 _10775_1" icontype="accountUnfilled" data-testid="myAccountIcon" class="_6iPIuvw _19mnudD _2SSHFPv" aria-expanded="true" aria-controls="myaccount-dropdown" aria-label="My Account"><span type="accountUnfilled" class="_3iH_8F6 _10775_1 -rhP1cz gBrrjX4 _2nHArcS"></span></button>
                                                <!--  -->

                                                <div class="Gmnwu_e" data-testid="myaccount-dropdown" id="myaccount-dropdown">
                                                    <div class="_33s2s-y">
                                                        <div class="">
                                                            <!--  -->
                                                            <div class="_10AVfLf">

                                                                <div class="_3dfrZFm">
                                                                    <div class="_3hSCfS2">
                                                                        @if (Session["Email"] == null)
                                                                        {
                                                                            <span class="k3_c4ux">
                                                                                <a class="_1336dMe _19mnudD" href="@Url.Action("Login", "Home")" data-testid="signin-link">Sign In</a>
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="k3_c4ux">
                                                                                <a class="_1336dMe _19mnudD" href="@Url.Action("Logout", "Home")" data-testid="signin-link">Log out</a>
                                                                            </span>
                                                                        }



                                                                    </div>
                                                                </div>

                                                                <div class="_12ChTgQ">
                                                                    <ul class="_1LxmvWx">
                                                                        <li><a href="@Url.Action("ViewAccount", "Account")" class="yPAUReS _19mnudD" data-testid="myaccount-link"><span class="CjZA9Ep _2RQ1Y7O _37yRrMr"></span>My Account</a></li>
                                                                        <li><a href="@Url.Action("ViewBill", "Order")" class="yPAUReS _19mnudD" data-testid="myorders-link"><span class="_37wOqxg _2RQ1Y7O _37yRrMr"></span>My Orders</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                @*  *@

                                <li class="_3Wo6fpk notice">
                                    <div>
                                        <div>
                                            <a id="miniBagDropdown" class=" jPP-Skd" href="@Url.Action("Index", "Cart")">
                                                <button type="button" icon="_33Vi078" icontype="bagFilled" data-testid="miniBagIcon" class="_6iPIuvw _19mnudD _2SSHFPv" aria-label="Bag 1 item" aria-controls="minibag-dropdown" aria-expanded="false">
                                                    <span type="bagFilled" class="_33Vi078 -rhP1cz gBrrjX4 _2nHArcS"></span>
                                                    @if (Convert.ToUInt32(Session["Cart"]) != null)
                                                    {
                                                        <span class="_1z5n7CN">
                                                            @Convert.ToUInt32(Session["Cart"])
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="_1z5n7CN">
                                                            0
                                                        </span>
                                                    }                                                                                                                                                                                                        }
                                                </button>

                                            </a>
                                        </div>

                                    </div>

                                </li>

                                @*  *@

                            </ul>
                        </div>
                    </div>
                    @* navbar *@
                    <div class="_8EFahPg">
                        <div>
                            <nav aria-label="Women&#39;s products" class="_3EAPxMS" data-testid="primarynav-large">
                                <div class="srMPwPy">
                                    <div class="_3C_NQPb">
                                        @*  *@
                                        <button data-id="0" data-index="0" class="_2syfS2P _19mnudD _3nG6wIM" aria-expanded="false" aria-controls="57242f2c-d207-471c-95b1-31d6839df360" data-testid="primarynav-button"><span class="f3gYf7g _3olfPvw _19mnudD"><span><a style="text-decoration: none; color: white" href="/Home/Index">Home</a></span></span></button>
                                        @*  *@
                                        <button data-id="1" data-index="1" class="_2syfS2P _19mnudD _3nG6wIM" aria-expanded="false" aria-controls="1020946c-8949-4e9c-9719-43435002bcd4" data-testid="primarynav-button"><span class="f3gYf7g"><span><a style="text-decoration: none; color: white" href="/Home/About">About</a></span></span></button>
                                        @*  *@
                                        <button data-id="3" data-index="3" class="_2syfS2P _19mnudD _3nG6wIM" aria-expanded="false" aria-controls="1020946c-8949-4e9c-9719-43435002bcd4" data-testid="primarynav-button"><span class="f3gYf7g"><span><a style="text-decoration: none; color: white" href="/Home/Contact">Contact</a></span></span></button>

                                        @*                                        <div id="3" class="_238FTjh">
                                                <div class="_2yreb5T" data-testid="secondarynav-container">
                                                    <div class="_1CJsNLL" aria-hidden="true" data-testid="backdrop"></div>
                                                    <div class="_2u0LGMW">
                                                        <div class="_1WUweTj" data-id="1020946c-8949-4e9c-9719-43435002bcd4" data-testid="secondarynav-flyout">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        *@
                                        <button data-id="4" data-index="4" class="_2syfS2P _19mnudD _3nG6wIM" aria-expanded="false" aria-controls="1020946c-8949-4e9c-9719-43435002bcd4" data-testid="primarynav-button">
                                            <span class="f3gYf7g">
                                                <a style="color: white; text-decoration:none" href="@Url.Action("Index", "Bouquet")">Bouquets</a>
                                        </button>
                                        <button data-id="5" data-index="5" class="_2syfS2P _19mnudD _3nG6wIM" aria-expanded="false" aria-controls="1020946c-8949-4e9c-9719-43435002bcd4" data-testid="primarynav-button"><span class="f3gYf7g"><span><a style="color: white; text-decoration: none" href="@Url.Action("Index", "Gallery")">Gallery</a></span></span></button>
                                        @*                                        <div id="5" class="_238FTjh">
                                                <div class="_2yreb5T" data-testid="secondarynav-container">
                                                    <div class="_1CJsNLL" aria-hidden="true" data-testid="backdrop"></div>
                                                    <div class="_2u0LGMW">
                                                        <div class="_1WUweTj" data-id="1020946c-8949-4e9c-9719-43435002bcd4" data-testid="secondarynav-flyout">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        *@
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div id="sc-sticky-header-portal"></div>
                </div>
            </div>

            @*            <section id="globalBannerComponent" class="src-GlobalBanner-GlobalBanner_globalBanner">
                    <div class="src-GlobalBanner-GlobalBanner_loaded">
                        <div class="src-GlobalBanner-Column-Column_column" style="background-color: rgb(38, 224, 102);">
                            <a class="src-GlobalBanner-Unit-Unit_unitLink src-GlobalBanner-Unit-Unit_unitLeft" href="https://www.asos.com/women/ctas/core-promos/promo-1/cat/?cid=50711&amp;ctaref=globalbanner|mw|generic" target="" aria-describedby="globalBannerTooltip-0">
                                <div class="src-GlobalBanner-Content-Content_content undefined" style="font-size: 14px; color: rgb(0, 0, 0);"><span class="src-GlobalBanner-Content-Content_copy"><strong>UP TO 50% OFF SUN-READY STUFF</strong></span></div>
                            </a>
                            <div class="
                                  src-GlobalBanner-Tooltip-Tooltip_wrapperLeft src-GlobalBanner-Tooltip-Tooltip_hidden
                                  ">
                                <div class="src-GlobalBanner-Tooltip-Tooltip_tooltip" id="globalBannerTooltip-0">Limited time only. While stocks last. Selected styles marked down on site.</div>
                            </div>
                        </div>
                        <div class="src-GlobalBanner-Column-Column_column" style="background-color: rgb(0, 0, 0);">
                            <a class="src-GlobalBanner-Unit-Unit_unitLink src-GlobalBanner-Unit-Unit_unitRight" href="https://www.asos.com/payments-and-deliveries/delivery/?ctaref=globalbanner|ww|delivery" target="">
                                <div class="src-GlobalBanner-Content-Content_content undefined" style="font-size: 14px; color: rgb(255, 255, 255);"><span class="src-GlobalBanner-Content-Content_copy"><strong>FREE WORLDWIDE DELIVERY</strong></span></div>
                            </a>
                        </div>
                    </div>
                </section>
            *@
        </header>
    </div>
    <!-- End Toogle Menu -->
    @* Main *@
    @RenderBody()
    @* End Main *@



    <!-- Footer -->
    <div id="chrome-footer">
        <footer class="QgXuFU4" data-testid="footer">
            <div class="_1pKlxSp">
                <div class="tlbAWm8">
                    <ul class="_3oMZ131" data-testid="social-links-bar">
                        <li class="_119KPCL _2NargtT"><a class="Yq_iQg0" href="https://www.facebook.com/ASOS/" target="_blank" rel="noopener noreferrer" data-testid="social-link"><span class="_2kp5rGp _1Cx3VIf">Facebook</span></a></li>
                        <li class="_119KPCL _1Yb89Mi"><a class="Yq_iQg0" href="https://www.instagram.com/asos/" target="_blank" rel="noopener noreferrer" data-testid="social-link"><span class="_2kp5rGp _1Cx3VIf">Instagram</span></a></li>
                        <li class="_119KPCL _3rAdG8H"><a class="Yq_iQg0" href="https://www.snapchat.com/add/asosfashion" target="_blank" rel="noopener noreferrer" data-testid="social-link"><span class="_2kp5rGp _1Cx3VIf">Snapchat</span></a></li>
                    </ul>
                    <ul class="_2S9UgOW">
                        <li class="_3cqbUhI"><img src="~/Content/Root/Images/visa.png" alt="VISA"></li>
                        <li class="_3cqbUhI"><img src="~/Content/Root/Images/mastercard.png" alt="Mastercard"></li>
                        <li class="_3cqbUhI"><img src="~/Content/Root/Images/pay-pal.png" alt="PayPal"></li>
                        <li class="_3cqbUhI"><img src="~/Content/Root/Images/american-express.png" alt="American Express"></li>
                        <li class="_3cqbUhI"><img src="~/Content/Root/Images/visa-electron.png" alt="VISA Electron"></li>
                    </ul>
                </div>
                <div class="_3MhG77c"></div>
                <div class="_3RUU0vJ">
                    <div class="IIfXyce" data-testid="footer-links-group">
                        <section class="_1Rkc4-5" open="" data-testid="footer-links">
                            <h3 class="_2tSOCeL _3nG6wIM">Help &amp; Information</h3>
                            <ul>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://www.asos.com/customer-care/">Help</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://my.asos.com/my-account/orders?country=VN&amp;keyStoreDataversion=ornjx7v-36&amp;lang=en-GB&amp;store=ROW">Track order</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://www.asos.com/payments-and-deliveries/delivery/">Delivery &amp; returns</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="@Url.Action("Sitemap", "Home")">Sitemap</a></li>
                            </ul>
                        </section>
                        <section class="_1Rkc4-5" open="" data-testid="footer-links">
                            <h3 class="_2tSOCeL _3nG6wIM">About ASOS</h3>
                            <ul>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://www.asos.com/about/">About us</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://asoscareers.asos.com/" target="_blank">Careers at ASOS</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://www.asosplc.com/fashion-with-integrity/" target="_blank">Corporate responsibility</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://www.asosplc.com/" target="_blank">Investors' site</a></li>
                            </ul>
                        </section>
                        <section class="_1Rkc4-5" open="" data-testid="footer-links">
                            <h3 class="_2tSOCeL _3nG6wIM">More From ASOS</h3>
                            <ul>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://www.asos.com/discover/our-apps/">Mobile and ASOS apps</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://marketplace.asos.com/?ctaref=Global+footer" target="_blank">ASOS Marketplace</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://www.asos.com/gift-vouchers/?ctaref=global%20footer|gift%20vouchers">Gift vouchers</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://www.asos.com/discover/black-friday-cyber-monday-deals/">Black Friday</a></li>
                                <li><a class="_1OV98kg _3nG6wIM _19mnudD" href="https://thrift.plus/pages/get-started-asos" target="_blank">ASOS x Thrift+</a></li>
                            </ul>
                        </section>
                        <div class="kx4xyAK">
                            <div class="_25L--Pi _1AJtgaz" data-testid="country-selector">
                                <h3 class="_1ZIi4L4 _296uVMb">Shopping from:</h3>
                                <button class="w9hgW1d _19mnudD" data-testid="country-selector-btn" type="button" aria-label="You&#39;re in Vietnam Change">
                                    <span class="eG8KBrM _3nG6wIM">You're in</span><img src="~/Content/Root/Images/vn.png" alt="Vietnam" class="RLpiNyQ">
                                    <div class="_3ap_GYr _296uVMb"><span class="_1cp9CIS" aria-hidden="true"></span><span>Change</span></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_1Ev2rfP _3nG6wIM">
                <div class="_2ACiVrR" data-testid="legalbar">
                    <p class="_3UHB4oU">
                        © <!-- -->@DateTime.Now.Year<!-- --> Aptech
                    </p>
                    <ul class="_35pEoqY">
                        <li><a href="">Privacy &amp; Cookies</a><span class="_1hUkP8H" aria-hidden="true"></span></li>
                        <li><a href="">Ts&amp;Cs</a><span class="_1hUkP8H" aria-hidden="true"></span></li>
                        <li class="_1tuIBvc"><a href="/accessibility/">Accessibility</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <!-- END Footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/Root/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    @*  *@
    <script src="~/Content/Root/JS/Slide.js" type="text/javascript"></script>
</body>
</html>
